body {
    background: -webkit-linear-gradient(top, #35003a 0%,#35003a 0%,#60305c 47%,#371938 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #35003a 0%,#35003a 0%,#60305c 47%,#371938 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat;
}
